<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Soul Bank</title>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>

	<style>
		body {
    background-color: #181f29;
	}

	.nav-wrapper {
    	background-color: #181f29;
	}

	.container {
    	margin-top: 20px;
    	color: white;
	}

	.waves-effect.waves-light.btn {
    	background-color: rgb(127, 54, 156);
	}
	</style>

	<header>
		<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Cadastro de Clientes</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/cliente" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Clientes</a></li>
				  <li><a href="/extrato" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Extrato</a></li>
		      </ul>
		    </div>
		</nav>
	</header>
	
	<!--<th:block th:include="mensagemValidacao"></th:block> -->
	<div class="container formCadastroClientes">
	
	<form class="container" method="post">
		Nome: <input type="text" value="" name="nome"/>
		<div class="row">
			<div class="input-field col s6">
				Sobrenome: <input type="text" value="" name="sobrenome"/>
			</div>
			<div class="input-field col s3">
				CPF: <input type="text" value="" name="cpf"/>
			</div>
			<div class="input-field col s3">
				Telefone: <input type="text" value="" name="fone"/>
			</div>
		</div>
		<button class="waves-effect waves-light btn" type="submit">Cadastrar</button>
	</form>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</body>

</html>