<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/estilo.css}" rel="stylesheet" />
    <link th:href="@{remove.png}"/>
    <title>EXTRATO</title>
</head>

  <body>
  <img src="remove.png" class="logo" alt="logo">
    <main>
      <div class="container">
        <h1>EXTRATO BANCÁRIO</h1>

        <table class="table-content">
          <thead>
            <tr>
              <th>ID cliente</th>
              <th> Data/Hora</th>
              <th> Operacao</th>
              <th> Valor</th>
            </tr>
          </thead>

          <tbody>
            <tr th:each="extratocliente: ${soulbank}">
  			  <td th:text="${extratocliente.idCliente}"></td>
              <td th:text="${extratocliente.dataHora}"></td> //DATA DA OPERAÇÃO
              <td th:text="${extratocliente.operacoes}"></td>   //TIPO DE OPERAÇÃO
              <td th:text="${extratocliente.valorOperacao}"></td>          //VALOR DA OPERAÇÃO
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>